<div class="flex flex-col">
  <app-header></app-header>
  <section class="bg-white py-6 px-4 max-w-4xl mx-auto text-gray-800 leading-relaxed font-serif italic">
  <h1 class="text-2xl font-bold mb-2">Dekorativne maske za klimu</h1>
  <p>
    Naše maske za spoljne jedinice klima uređaja su izrađene od CNC sečenog lima debljine 1.5 mm, otporne na vremenske uslove.
    Birajte između različitih boja i šara – bela, crna, antracit ili po vašoj meri.
  </p>
  <p>
    Lako se montiraju i služe kao zaštita i estetski dodatak vašem domu ili poslovnom prostoru.
    Pošaljite nam vašu šaru – mi ćemo je izraditi po meri!
  </p>
</section>

  <div class="flex-grow">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
